<!DOCTYPE html>
<html>
  <head>
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <title>阿舒的个人博客</title>
	</head>
  <body >
  	<div class="home">
  		<%- include('../public/header.ejs') %>
	    <!-- 文章内容页 -->
	    <div class="article">
	    	<div class="article-title">
	    		<p class="tit"><%= article.articleTitle %></p>
	    		<p><span>作者：</span>
    				<span class="use"><%= article.articleAuthor %></span>
    				<span>
    					发布时间：<%= article.articleTime %>
    				</span>
    				<span>
    					浏览量：<%= article.articleClick %>
    				</span>
    			</p>
	    	</div>
	    	<div class="article-content">
				<textarea class="content" name="" id="" cols="135" rows="100"><%= article.articleContent %></textarea>;
	    	</div>
	    </div>
		</div>
		<button class="sss" style="margin-left: 30%;width: 100px;height: 30px;background-color: yellow;">删除</button>
		<button class="zzz" style="margin-left: 30%;width: 100px;height: 30px;background-color: yellow;">保存</button>
		
  </body>
  <script type="text/javascript">
  	$(function(){
  	
		  $('.sss').click(function(event){
  		event.preventDefault();
			$.ajax({
		   	url: '/delete',
			  type:'POST',
			  data:{
			   	username:$('.use').html(),
			   	title:$('.tit').html()
			  },
			  success: function(data){
			    alert(data.result);
			    
			    	window.location.href ="/";
			    
			  }
			});
  	});
      $('.zzz').click(function(){
  		
			$.ajax({
		   	url: '/update',
			  type:'POST',
			  data:{
			   	username:$('.use').html(),
			   	title:$('.tit').html(),
                content:$(".content").html()
			  },
			  success: function(data){
			    alert(data.result);
			    
			    	window.location.href ="/";
			    
			  }
			});
  	});
  	});
	 
  </script>
</html>